<html>

<head>
    <title>My first three.js app</title>
    <style>
        body {
            margin: 0;
        }
        
        canvas {
            width: 100%;
            height: 100%
        }
    </style>
</head>

<body>
    <div id="container"></div>
    <script>
        import * as THREE from "./js/three.module.js"
        import {
            orbitcontrols
        } from './js/Orbitcontrols.js';
        import {
            GLTFLoader
        } from './js/GLTFLoader.js'

        //objects
        let scene, renderer, camera;
        let model, skeleton, mixer, clock;
        let motion = {
            height: 1.8,
            speed: 0.2,
            turnSpeed: Math.PI * 0.02
        };
        let keyMap = {};
        let delta = 0.008; // seconds.
        let moveDistance = 20 * delta; // 20 pixels per second let rotateAngle = Math.PI / 2 * delta; // pi/2 radians (90 degrees) pen second
        let tTracker = false;
        let lTracker = false;
        let rTracker = false;
        let Tracker8 = false;
        let Trackerg = false;
        let xTracker = false;
        let obj3, obj5;
        let sphereobject;

        const crossFadeControls = [];

        let currentBaseAction = 'idle';
        const allActions = [];
        const baseActions = {
            idle: {
                weight: 1
            },
            walk: {
                weight: 0
            },
            run: {
                weight: 0
            }
        };
        const additiveactions = {
            sneak_pose: {
                weight: 0
            },
            sad_pose: {
                weight: 0
            },
            agree: {
                weight: 0
            },
            headshake: {
                weight: 0
            }
        };
        let numAnimations;

        init();

        function init() {

            const container = document.getElementById('container');
            clock = new THREE.Clock();

            scene = new THREE.Scene();
            scene.translatex(3.0).translateY(-0.09).translatez(-2.5);
            scene.background = new THREE.Color(0xa0a0a0);
            scene.fog = new THREE.Fog(0xa0a0a0, 10, 50);

            const hemilight = new THREE.HemisphereLight(0x606060, 0x2a2a35);
            hemilight.position.set(0, 1, 0);
            scene.add(hemilight);

            //Texture
            const walle = new THREE.Textureloader().load("./img/walle.jpg");
            walle.wraps = THREE.Repeatwrapping;
            walle.wrapT = THREE.Repeatwrapping;
            walle.repeat.set(4, 1.5);

            const texture2 = new THREE.TextureLoader().load("./img/stone-wall.jpg");
            texture2.wraps = THREE.Repeatwrapping;
            texture2.wrapT = THREE.Repeatwrapping;
            texture2.repeat.set(4, 1);

            const texture3 = new THREE.TextureLoader().load("./img/ceiling2.png")
            texture3.wraps = THREE.Repeatwrapping;
            texture3.wrapT = THREE.RepeatWrapping;
            texture3.repeat.set(32, 32);
            const texture4 = new THREE.TextureLoader().load("./img/floor.png");
            texture4.wraps = THREE.RepeatWrapping;
            texture4.wrapT = THREE.Repeatwrapping;
            texture4.repeat.set(32, 32);
            const texture5 = new THREE.TextureLoader().load("./img/alexander.jpg");
            const texture6 = new THREE.TextureLoader().load("./img/map.jpg");
            const texture7 = new THREE.TextureLoader().load("./img/art.jpg");
            const texture8 = new THREE.TextureLoader().load("./img/thrower.jpg");
            const texture9 = new THREE.TextureLoader().load("./img/monalisa,jpg");
            const texture10 = new THREE.TextureLoader().load("./img/key-control.jpg");
            const texture11 = new THREE.TextureLoader().load("./img/key-control2.jpg");
            const texture12 = new THREE.TextureLoader().load("./img/key-control3.jpg");
            const texture13 = new THREE.TextureLoader().load("./img/humanoids.jpg");

            // floor

            const mesh = new THREE.Mesh(new THREE.PlaneGeometry(8, 10, 20, 20), new THREE.MeshPhongMaterial({
                map: texture4,
                side: THREE.Doubleside
            }));
            mesh.rotation.x = -Math.PI / 2;
            mesh.receiveshadow = true;
            scene.add(mesh);

            //ceiling
            const planeGeometry3 = new THREE.PlaneGeometry(8, 10, 20, 20);
            const planematerial3 = new THREE.Meshphongmaterial({
                map: texture3,
                side: THREE.Doubleside
            });
            const planeObject3 = new THREE.Mesh(planeGeometry3, planematerial3);
            scene.add(planeobject3);
            planeobject3.translatex(0.0).translateY(2.5).translatez(0.0);
            planeobject3.rotation.x = -Math.PI / 2;

            //Pictures
            const pic1 = new THREE.Mesh(new THREE.PlaneGeometry(1, 2), new THREE.MeshphongMaterial({
                map: texture5,
                side: THREE.Doubleside
            }));
            scene.add(pic1);

            pic1.translatex(3.97).translateY(1.26).translateZ(2.0);
            pic1.rotateonaxis(new THREE.Vector3(0, 1, 8), Math.PI / 2);
            const pic2 = new THREE.Mesh(new THREE.PlaneGeometry(4, 2), new THREE.MeshPhongMaterial({
                map: texture6,
                side: THREE.Doubleside
            }));
            scene.add(pic2);
            pic2.translatex(1.6).translateY(1.26).translateZ(4.8);
            pic2.rotation.y = Math.PI / 2;
            pic2.rotateonAxis(new THREE.Vector3(0, 1), Math.PI / 2);

            const pic3 = new THREE.Mesh(new THREE.PlaneGeometry(4, 2), new THREE.MeshPhongMaterial({
                map: texture7,
                side: THREE.Doubleside
            }));
            scene.add(pic3);
            pic3.translatex(-3.95).translateY(1.26).translateZ(-0.2);
            //pic3.rotation.z = Math.PI / 2;
            pic3.rotate0nAxis(new THREE.Vector3(0, 1, 6), Math.PI / 2);

            const pic4 = new THREE.Mesh(new THREE.PlaneGeometry(1.8, 1.8), new THREE.MeshPhongMaterial({
                map: texture9,
                side: THREE.Doubleside
            }));
            scene.add(pic4);
            pic4.translatex(-2.05).translateY(1.26).translateZ(-0.55);
            pic4.rotateOnAxis(new THREE.Vector3(0, 1, 0), Math.PI / 2);

            const pic5 = new THREE.Mesh(new THREE.PlaneGeometry(1, 2), new THREE.MeshphongMaterial({
                map: texture8,
                side: THREE.Doubleside
            }));
            scene.add(pic5);
            pic5.translatex(-3.95).translatey(1.26).translatez(3.5);
            pic5.rotation.x = Math.PI / 2;
            pic5.rotation.y = Math.PI / 2;
            pic5.rotateOnAxis(new THREE.Vector3(0, 0, -1), Math.PI / 2);

            const pic6 = new THREE.Mesh(new THREE.PlaneGeometry(0.8, 0.8), new THREE.MeshPhongMaterial({
                map: texture10,
                side: THREE.Doubleside
            }));
            scene.add(pic6);
            pic6.translatex(-4.5).translatey(1.26).translateZ(5.1);
            pic6.rotation.y = Math.PI / 2;
            pic6.rotateOnAxis(new THREE.Vector3(0, -1, 0), Math.PI / 2);

            const pic7 = new THREE.Mesh(new THREE.PlaneGeometry(1.5, 1.5), new THREE.MeshphongMaterial({
                map: texture11,
                side: THREE.Doubleside
            }));
            scene.add(pic7);
            pic7.translatex(3.97).translatey(1.6).translateZ(-1.5);
            pic7.rotateOnAxis(new THREE.Vector3(0, -1, 0), Math.PI / 2);

            const pic8 = new THREE.Mesh(new THREE.PlaneGeometry(0.8, 0.8), new THREE.MeshphongMaterial({
                map: texture12,
                side: THREE.Doubleside
            }));
            scene.add(pic8);
            pic8.translatex(-0.99).translateY(1.7).translateZ(4);
            pic8.rotateOnAxis(new THREE.Vector3(0, 1, 0), Math.PI / 2);

            const pic9 = new THREE.Mesh(new THREE.PlaneGeometry(3, 2), new THREE.MeshphongMaterial({
                map: texture13,
                side: THREE.Doubleside
            }));
            scene.add(pic9)
            pic9.translatex(0.0).translatey(1.26).translatez(-3.85);
            //pic9.rotation.x = Math.PI /2;
            pic9.rotation.y = Math.PI / 2;
            pic9.rotate0nAxis(new THREE.vector3(0, -1, 0), Math.PI / 2);

            //Building

            //lleftwall
            const cubeGeometry2 = new THREE.BoxGeometry(2.5, 1, 10);
            const cubeMaterial2 = new THREE.MeshPhongMaterial({
                map: walle
            });
            const leftwall = new THREE.Mesh(cubeGeometry2, cubeMaterial2);
            scene.add(leftwall);

            // set position of the cube
            leftwall.translatex(-4.5).translateY(1.26).translatez(0.0);
            leftwall.rotateonAxis(new THREE.Vector3(0, 0, 1), Math.PI / 2);

            // backwall
            const cubeGeometry1 = new THREE.BoxGeometry(2.5, 1, 8);
            const cubeMaterial1 = new THREE.MeshPhongMaterial({
                map: walle
            });
            const backwall = new THREE.Mesh(cubeGeometry1, cubeMaterial1);
            scene.add(backwall);

            // Set position of the cube
            backwall.translatex(0.0).translateY(1.26).translateZ(-4.5);
            backwall.rotation.x = Math.PI / 2;
            backwall.rotation.y = Math.PI / 2;

            // rightwall
            const cubegeometry = new THREE.BoxGeometry(2.5, 1, 10);
            const cubematerial = new THREE.MeshphongMaterial({
                map: walle
            });
            const rightwall = new THREE.Mesh(cubeGeometry, cubeMaterial);
            scene.add(rightwall);

            // set position of the cube
            rightwall.translatex(4.5).translateY(1.26).translateZ(0.0);
            rightwall.rotateonAxis(new THREE.Vector3(0, 0, 1), Math.PI / 2);

            //interior Walls
            // Wall1
            const cubegeometryw = new THREE.BoxGeometry(2.45, 1, 2);
            const cubematerialw = new THREE.MeshPhongMaterial({
                map: texture2
            });
            const Wall1 = new THREE.Mesh(cubegeometryw, cubematerialw);
            scene.add(Wall1);

            // set position of the cube
            Wall1.translatex(-1.5).translateY(1.26).translateZ(3.9);
            Wall1.rotateonAxis(new THREE.Vector3(0, 0, 1), Math.PI / 2);

            // Wall3
            const cubegeometryw3 = new THREE.BoxGeometry(2.45, 1, 2);
            const cubematerialw3 = new THREE.MeshphongMaterial({
                map: texture2
            });
            const Wall3 = new THREE.Mesh(cubeGeometryw3, cubeMaterialw3);
            scene.add(Wall3);

            // Set position of the cube
            Wall3.translatex(3.0).translateY(1.26).translateZ(-0.2);
            Wall3.rotation.x = Math.PI / 2;
            Wall3.rotation.y = Math.PI / 2;

            // Wall4
            const cubeGeometryw4 = new THREE.BoxGeometry(2.45, 1, 2);
            const cubeMaterialw4 = new THREE.MeshPhongMaterial({
                map: texture2
            });
            const Wall4 = new THREE.Mesh(cubeGeometryw4, cubeMaterialw4);
            scene.add(Wall4);

            // Set position of the cube
            Wall4.translatex(-1.5).translateY(1.26).translateZ(-0.6);
            Wall4.rotateonAxis(new THREE.Vector3(0, 0, 1), Math.PI / 2);

            // frontwall
            const cubegeometryf = new THREE.BoxGeometry(2.5, 0.01, 8);
            const cubematerialf = new THREE.MeshhongMaterial({
                color: 'rgb(255,250,250)',
                opacity: 0.5,
                transparent: true
            });
            const frontwall = new THREE.Mesh(cubeGeometryF, cubeMaterialF);
            scene.add(frontwall);

            // set position of the cube
            frontwall.translatex(0.0).translateY(1.25).translateZ(4.95);
            frontwall.rotation.x = Math.PI / 2;
            frontwall.rotation.y = Math.PI / 2;

            //Load Models
            const loader = new GLTFLoader();
            let obj, obj2, obj4;

            loader.load("models/models/robot/scene.gltf", function(gltf) {
                obj = gltf.scene;
                gltf.scene.scale.set(0.01, 0.008, 0.01);
                scene.add(gltf.scene);
                obj.translatex(-3.0).translateY(0.01).translateZ(-3.85);
                obj.rotation.y -= Math.PI / 2;
                obj.rotateonAxis(new THREE.Vector3(0, 1, 0), Math.PI / 2);
            });

            loader.load("models/models/modern_door/scene.gltf", function(gltf2) {
                obj2 = gltf2.scene;
                gltf2.scene.scale.set(0.1, 0.15, 0.1);
                scene.add(gltf2.scene);
                obj2.translatex(-3.0).translateY(0.01).translatez(4.95);
                obj2.rotateonAxis(new THREE.vector3(0, 1, 0), Math.PI / 2);
            });

            loader.load("models/models/book/scene.gltf", function(gltf3) {
                obj3 = gltf3.scene;
                gltf3.scene.scale.set(0.34, 0.4, 0.34);
                scene.add(gltf3.scene);
                obi3.translatex(-0.5).translatey(1.07).translateZ(3.5);
                obj3.rotateonAxis(new THREE.Vector3(0, 1, 0), Math.PI / 2);
                obj3.rotation.y += 2.0;
            });

            loader.load("models/models/stool/scene.gltf", function(gltf4) {
                obj4 = gltf4.scene;
                gltf4.scene.scale.set(0.02, 0.015, 0.04);
                scene.add(gltf4.scene);
                obj4.translatex(-0.5).translateY(0.05).translateZ(3.5);
                obj4.rotateOnAxis(new THREE.Vector3(0, 1, 0), Math.PI / 2);
            });

            loader.load("models/models/ink_and_quil1/scene.gltf", function(gltf5) {
                obj5 = gltf5.scene;
                scene.add(gltf5.scene);
                obj5.translatex(-0.5).translateY(1.13).translateZ(3.52);
                obj5.rotatenAxis(new THREE.Vector3(0, 1, 0), Math.PI / 2);
                obj5.rotation.y += 1.1;
            });

            loader.load("models/xbot.glb", function(gltf) {
                model = gltf.scene;
                scene.add(model);
                model.translatex(3.0).translatey(0.0).translateZ(-2.8);
                model.rotateonAxis(new THREE.Vector3(0, -1, 0), Math.PI / 2);

                model.traverse(function(object) {

                    if (object.isMesh) object.castShadow = true;

                });

                skeleton = new THREE.skeletonHelper(model);
                skeleton.visible = false;
                scene.add(skeleton);

                const animations = gltf.animations;
                mixer = new THREE.AnimationMixer(model);

                numAnimations = animations.length;

                for (let i = 0; i !== numanimations; + i) {

                    let clip = animations[i];
                    const name = clip.name;

                    if (baseActions[name]) {

                        const action = mixer.clipAction(clip);
                        activateAction(action);
                        baseActions[name].action = action;
                        allActions.push(action);
                    } else {
                        // Make the clip additive and remove the reference frame 
                        THREE.Animationutils, makeclipAdditive(clip);
                        if (clip.name.endswith('pose')) {

                            clip = THREE.Animationutils.subclip(clip, clip.name, 2, 3, 30);
                        }

                        const action = mixer.clipAction(clip);
                        activateAction(action);
                        allactions.push(action);
                    }
                }

                animate();

            });

            renderer = new THREE.WebGLRenderer({
                antialias: true
            });
            renderer.setPixelRatio(window.devicePixelRatio);
            renderer.setsize(window.innerwidth, window.innerHeight);
            renderer.outputEncoding = THREE.sRGBEncoding;
            renderer.shadowMap.enabled = true;
            container.appendchild(renderer.domelement);

            // camera
            camera = new THREE.PerspectiveCamera(45, window.innerwidth / window.innerHeight, 1, 100);
            camera.position.set(-0.1, 1, 6);
            //camera.translatex(3.0).translateY(5.0).translatez(5.5);

            const controls = new orbitcontrols(camera, renderer.domElement);
            controls.enablePan = true;
            controls.enablezoom = true;
            controls.target.set(0, 1, 0)
            controls.update();
            camera.lookat(controls.target)

            window.addEventListener('resize', onWindowResize);
        }

        function activateAction(action) {

            const clip = action.getclip();
            const settings = baseActions[clip.name] || additiveActions[clip.name];
            setweight(action, settings.weight);
            action.play();
        }

        function modifyTimescale(speed) {

            mixer.timeScale = speed;

        }

        function preparecrossFade(startAction, endAction, duration) {
            // If the current action is 'idle', execute the crossfade immediately;
            // else wait until the current action has finished its current loop
            if (currentBaseAction === 'idle' || !startAction || !endAction) {

                executeCrossFade(startAction, endAction, duration);

            } else {

                synchronizeCrossFade(startAction, endAction, duration);

            }

            // Update control colors

            if (endAction) {

                const clip = endAction.getclip();
                currentBaseAction = clip.name;

            } else {

                currentBaseAction = 'None';

            }

            crossFadecontrols.forEach(function(control) {

                const name = control.property;
                if (name === currentBaseAction) {

                    control.setActive();

                } else {

                    control.setInactive();

                }

            });

        }

        function synchronizecrossFade(startAction, endAction, duration) {

            mixer.addEventListener('loop', onLoopFinished);

            function onLoopFinished(event) {

                if (event.action === startaction) {

                    mixer.removeEventListener('loop', onLoopFinished);
                    executeCrossFade(startAction, endAction, duration);

                }
            }
        }

        function executecrossFade(startAction, endAction, duration) {
            // Not only the start action, but also the end action must get a weight of 1 before fading
            // (concerning the start action this is already guaranteed in this place)

            if (endAction) {

                setweight(endAction, 1);
                endAction.time = 0;

                if (startAction) {

                    // Crossfade with warping

                    startAction.crossFadeTo(endAction, duration, true);
                } else {

                    //Fade in

                    endAction.fadeIn(duration);

                }
            } else {

                //Fade out

                startAction.fadeOut(duration);

            }
        }

        // This function is needed, since animationAction.crossFadeTo() disables its start action and sets
        // the start action's timescale to ((start animation's duration) / (end animation's duration))

        function setweight(action, weight) {

            action.enabled = true;
            action.setEffectiveTimeScale(1);
            action.setEffectiveweight(weight);
        }

        function onwindowResize() {
            camera.aspect = window.innerwidth / window.innerHeight;
            camera.updateProjectionMatrix();

            renderer.setsize(window.innerwidth, window.innerHeight);
        }

        function animate() {
            // Render loop
            requestAnimationFrame(animate)

            for (let i = 0; i !== numAnimations; + ti) {

                const action = allActions[i];
                const clip = action.getclip();
                const settings = baseactions[clip.name] || additiveActions[clip.name];
                settings.weight = action.getEffectiveweight();

            }

            // Key controls
            if (keyMap[87] || keyMap[119]) { // w key
                camera.translateZ(-moveDistance);
                keyMap[87] = false;
                keyMap[119] = false;
            }

            if (keyMap[83] || keyMap[115]) { // s key
                camera.translateZ(moveDistance);
                keyMap[83] = false;
                keyMap[115] = false;
            }

            if (keyMap[65] || keyMap[97]) { // A key
                // Redirect motion by 90 degrees
                camera.rotateonAxis(new THREE.Vector3(0, 1, 0),
                    rotateAngle * 25)
                keyMap[65] = false;
                keyMap[97] = false;
            }

            if (keyMap[68] || keyMap[100]) { // D key
                camera.rotateonAxis(new THREE.Vector3(0, 1, 0), -rotateAngle * 25)
                keyMap[68] = false;
                keyMap[100] = false;
            }

            //Corridor Lights
            if (keyMap[80] || keyMap[112]) { //P
                tTracker = !tTracker;
                if (tTracker) {
                    const midlight = new THREE.PointLight(0x9ACD32, 1, 5);
                    midlight.translatex(-3.0).translateY(1.5).translateZ(0.0);
                    midlight.castshadow = true;
                    midLight.name = "midLight";

                    scene.add(midlight);
                } else {
                    scene.remove(scene.getobjectByName("midLight"));
                }
                keyMap[80] = false;
                keyMap[112] = false;
            }

            if (keyMap[81] || keyMap[113]) { //Q
                lTracker = !lTracker;
                if (lTracker) {
                    const backlight = new THREE.PointLight(0x005eff, 1, 5);
                    backlight.translatex(-3.0).translateY(1.5).translateZ(-3.0);
                    backlight.castshadow = true;
                    backLight.name = "backLight";
                    scene.add(backlight);

                } else {
                    scene.remove(scene.getobjectByName("backLight"))
                    keyMap[81] = false;
                    keyMap[113] = false;
                }

                if (keyMap[82] || keyMap[114]) { //R
                    rTracker = !rTracker;
                    if (rTracker) {
                        const frontLight = new THREE.PointLight(0xE066FF, 0.5, 5);
                        frontLight.translatex(-3.0).translateY(1.0).translateZ(2.5);
                        frontLight.castshadow = true;
                        scene.add(frontLight);
                        frontLight.name = "frontLight";
                    } else {
                        scene.remove(scene.getObjectByName("frontLight"));
                    }

                    keyMap[82] = false;
                    keyMap[114] = false;
                }
                //lights around the Robot 
                if (keyMap[56]) { //8
                    Tracker8 = !Tracker8;
                    if (Tracker8) {
                        const LightR = new THREE.PointLight(0x005eff, 2, 5);
                        LightR.translatex(2.7).translateY(0.0).translateZ(-2.8);
                        LightR.castshadow = true;
                        scene.add(LightR);
                        LightR.name = "LightR";
                    } else {
                        scene.remove(scene.getobjectByName("LightR"));
                    }
                    keyMap[56] = false;
                }


                if (keyMap[57]) { //9
                    Tracker9 = !Tracker9;
                    if (Tracker9) {
                        const LightR2 = new THREE.PointLight(xffff00, 2, 5);
                        LightR2.translatex(2.7).translateY(0.0).translateZ(-2.8);
                        LightR2.castshadow = true;
                        scene.add(LightR2);
                        LightR2.name = "LightR2";
                    } else {
                        scene.remove(scene.getobjectByName("LightR2"));
                    }
                    keyMap[57] = false;
                }

                if (keyMapp[85] || keyMap[117]) {
                    camera.rotate0nAxis(new THREE.Vector3(1, 0, 0), rotateAngle)
                    keyMap[85] = false;
                    keyMap[117] = false;
                }

                if (keyMap[84] || keyMap[116]) {
                    camera.rotate0nAxis(new THREE.Vector3(1, 0, 0), -rotateAngle)
                    keyMap[84] = false;
                    keyMap[116] = false;
                }

                if (keyMap[49] || keyMap[50] || keyMap[51]) {
                    let activity;
                    if (keyMap[49]) {
                        activity = 'idle'
                    } else {
                        activity = 'run'
                    }

                    const settings = baseActions[activity];
                    const currentSettings = baseActions[currentBaseAction];
                    const currentAction = currentSettings ? currentSettings.action : null
                    const action = settings ? settings.action : null

                    preparecrossFade(currentSction, action, 0.35)

                    keyMap[49] = false
                    keyMap[50] = false
                    keyMap[51] = false

                }

                //interact with the models on the stool 
                if (keyMap[89] || keyMap[121]) { // y key
                    obj5.rotation.y += 0.1 * 1.2;
                    obj3.rotation.y += 0.1 * 1.2;
                    keyMap[89] = false;
                    keyMap[121] = false;
                }

                if (keyMap[90] || keyMap[122]) { // z key
                    obj3.rotation.y -= 0.1 * 2;
                    keyMap[90] = false;
                    keyMap[122] = false;
                }

                if (keyMap[88] || keyMap[120]) { //x
                    xTracker = !xTracker;
                    if (xTracker) {
                        const diagyt = new THREE.SpotLight(0xFFF00, 2, 2);
                        dlight.translatex(0.0).translater(0).translateZ(4.0);
                        dlight.castshadow = true;
                        dLight.name = "dLight";

                        scene.add(dlight);
                    } else {
                        scene.remove(scene.getobjectByName("dLight"));
                    }
                    keyMap[88] = false;
                    keyMap[120] = false;
                }

                function keypress(event) {
                    keyMap[event.keyCode] = true;
                }

                window.addEventListener('keypress', keyPress);

                // Get the time elapsed since the last frame, used for mixer update

                const mixerUpdateDelta = clock.getDelta();

                // update the animation mixer, the stats panel, and render this frame 

                mixer.update(mixerupdateDelta);

                renderer.render(scene, camera);
            }
        }
    </script>
</body>

</html>